body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

h2 {
  color: #444;
}



#text-result {
  margin-top: 20px;
  color: #007BFF;
  font-size: 20px;
}

img#logo {
  width: 100px;
  margin-bottom: 20px;
}
