* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
}

nav a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #555;
}

#nav-button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

#nav-button:hover {
  background-color: #0079a1;
}

.container {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

main {
  flex: 3;
  margin-right: 20px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

aside {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.main-image {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 8px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 20px;
}


.unused-css{
  padding: 20px;
  margin: 10px;
}